<!DOCTYPE html>
{% load static %}
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Python</title>
    <link rel = "stylesheet" href = "{% static 'css/index1.css' %}">
    <link rel = "shortcut icon" href = "{% static 'img/img_python.png' %}" type = "image/png">
    <link href = "https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel = "stylesheet">
</head>
<body>


<div class = "topnav">
    
    <div class = "topnav-centered">
        <a href = "https://comp-as.by"><img class = "logo" src = "{% static 'img/logo.png' %}"></a>
    </div>
    
    <a href = "#" class="acc">Войти</a>
    
    <div class = "topnav-right">
        <a class = "active">Главная</a>
        <a href = "{% url 'theory' %}">Теория</a>
        <a href = "{% url 'task' %}">Задачи</a>
        <a href = "{% url 'test' %}">Тест</a>
    </div>

</div>

<!--<div class = "header">-->
<!--    <a href = "#" class = "account">Аккаунт</a>-->
<!--    <div class = "header_center">-->
<!--        <a href = "https://comp-as.by"><img class = "logo" src="{% static 'img/logo.png' %}"></a>-->
<!--    </div>-->
<!--    <div class = "header-right">-->
<!--        <a class = "active">Главная</a>-->
<!--        <a href = "{% url 'theory' %}">Теория</a>-->
<!--        <a href = "{% url 'task' %}">Задачи</a>-->
<!--        <a href = "{% url 'test' %}">Тест</a>-->
<!--    </div>-->
<!--</div>-->

<div class = "container">
    <p class = "cont_title">Для чего используется Python? Руководство для начинающих</p>
    <p class = "cont_p">За последние годы Python стал одним из самых популярных языков программирования в мире. Он
                        используется во всем,
                        от машинного обучения до создания сайтов и тестирования программного обеспечения. Он может
                        быть
                        использован как разработчиками, так и не разработчиками.</p>
    <img src = "{% static 'img/cont1.jpg' %}" class = "cont_img">
    <p class = "cont_p">Python, один из самых популярных языков программирования в мире, создал все: от
                        рекомендательного алгоритма Netflix до программного обеспечения, которое управляет
                        беспилотными
                        автомобилями. Python является языком общего назначения, что означает, что он предназначен
                        для
                        использования в различных приложениях, включая <b>науку о данных</b>, <b>программное
                                                                                                 обеспечение</b> и
        <b>веб-разработку</b>, <b>автоматизацию</b> и, как правило, получение материала.</p>
    <p class = "cont_p">Давайте рассмотрим, что такое Python, что он может делать и как вы можете начать его
                        изучать.</p>
    <p class = "cont_title">Что такое Python?</p>
    <p class = "cont_p">Python - язык программирования, часто используемый для создания веб-сайтов и программного
                        обеспечения, автоматизации задач и проведения анализа данных. Python - это язык общего
                        назначения, что означает, что он может использоваться для создания различных программ и не
                        специализируется на каких-либо конкретных проблемах. Эта универсальность, наряду с удобством
                        для
                        начинающих, сделала его одним из наиболее используемых языков программирования сегодня.
                        Исследование, проведенное компанией RedMonk, показало, что это второй по популярности язык
                        программирования среди разработчиков в 2021 году.
    </p>
    <div class = "phrase">
        <p class = "cont_p_ph">Вы знали? Имя Пайтон происходит от Монти Пайтона. Когда Гвидо ван Россум создавал
                               Python, он
                               также читал сценарии из Flying Circus Монти Пайтона на BBC. Он считал, что имя Пайтон
                               достаточно короткое и немного загадочное.</p>
    </div>
    <p class = "cont_title">Для чего используется Python?</p>
    <p class = "cont_p">Python обычно используется для разработки веб-сайтов и программного обеспечения,
                        автоматизации
                        задач, анализа данных и визуализации данных. Так как Python относительно легко изучается, он
                        был
                        принят многими непрограммистами, такими как бухгалтеры и ученые, для различных повседневных
                        задач, таких как организация финансов.
    </p>
    <p class = "cont_p">"Написание программ является очень творческим и полезным видом деятельности", говорит
                        Мичиганский университет и Курсера инструктор Чарльз R Severance в его книге Python для всех.
                        "Вы
                        можете писать программы по многим причинам, начиная от зарабатывания на жизнь до решения
                        сложной
                        задачи анализа данных и заканчивая развлечением и помощью кому-то другому в решении
                        проблемы."
    </p>
    <p class = "cont_title">Что вы можете сделать с Python?</p>
    <p class = "cont_p">Например:</p>
    <ul>
        <li>Анализ данных и машинное обучение</li>
        <li>Веб-разработка</li>
        <li>Автоматизация или скриптинг</li>
        <li>Тестирование программного обеспечения и прототипирование</li>
        <li>Повседневные задачи</li>
    </ul>
    <p class = "cont_p">Вот более подробный обзор некоторых из этих распространенных способов использования
                        Python.</p>
    <p class = "cont_title">Анализ данных и машинное обучение</p>
    <p class = "cont_p">Python стал основным в науке о данных, позволяя аналитикам данных и другим специалистам
                        использовать язык для проведения сложных статистических расчетов, создания визуализации
                        данных,
                        построения алгоритмов машинного обучения, манипулирования и анализа данных, а также
                        завершения
                        других данных-смежных задач.
    </p>
    <p class = "cont_p">Python может построить широкий спектр различных визуализаций данных, таких как линейные и
                        столбчатые графики, круговые диаграммы, гистограммы и 3D графики. У Python также есть ряд
                        библиотек, которые позволяют кодерам писать программы для анализа данных и машинного
                        обучения
                        более быстро и эффективно, например TensorFlow и Keras.
    </p>
    <p class = "cont_title">Веб-разработка</p>
    <p class = "cont_p">Python часто используется для разработки задней части веб-сайта или приложения - частей,
                        которые
                        пользователь не видит. Роль Python в веб-разработке может включать отправку данных на
                        серверы и
                        с них, обработку данных и взаимодействие с базами данных, маршрутизацию URL и обеспечение
                        безопасности. Python предлагает несколько фреймворков для веб-разработки. Обычно
                        используются
                        такие, как Django и Flask.
    </p>
    <p class = "cont_p">Некоторые задания веб-разработки, в которых используется Python, включают инженеров,
                        инженеров
                        полного стека, разработчиков Python, программистов и инженеров DevOps.
    </p>
    <p class = "cont_title">Автоматизация или скрипты</p>
    <p class = "cont_p">Если вы выполняете задание несколько раз, вы можете работать более эффективно, автоматизируя
                        его
                        с Python. Код записи, используемый для построения этих автоматизированных процессов,
                        называется
                        сценарием. В мире кодирования автоматизация может использоваться для проверки ошибок в
                        нескольких файлах, преобразования файлов, выполнения простой математики и удаления
                        дубликатов
                        данных.
    </p>
    <p class = "cont_p">Python может даже использоваться относительными новичками для автоматизации простых задач на
                        компьютере, таких как переименование файлов, поиск и загрузка онлайн-контента или отправка
                        писем
                        или текстов с нужными интервалами.
    </p>
    <p class = "cont_title">Тестирование программного обеспечения и прототипирование</p>
    <p class = "cont_p">В разработке программного обеспечения Python может помочь в таких задачах, как контроль
                        сборки,
                        отслеживание ошибок и тестирование. С помощью Python разработчики программного обеспечения
                        могут
                        автоматизировать тестирование новых продуктов или функций. Некоторые инструменты Python,
                        используемые для тестирования программного обеспечения, включают Green и Requestium.
    </p>
    <p class = "cont_title">Повседневные задачи</p>
    <p class = "cont_p">Python предназначен не только для программистов и ученых. Обучение Python может открыть
                        новые
                        возможности для тех, кто работает в менее загруженных данными профессиях, таких как
                        журналисты,
                        владельцы малого бизнеса или маркетологи социальных сетей. Python также позволяет
                        не программистам упростить некоторые задачи в их жизни. Вот лишь несколько задач, которые вы
                        можете автоматизировать с помощью Python:
    </p>
    <ul>
        <li>Следите за ценами на бирже или криптовалютах</li>
        <li>Пришлите себе текстовое напоминание, чтобы носить с собой зонтик в любое время, когда идет дождь</li>
        <li>Обновите список покупок в продуктовом магазине</li>
        <li>Переименование больших партий файлов</li>
        <li>Преобразование текстовых файлов в электронные таблицы</li>
        <li>Случайным образом назначать обязанности членам семьи</li>
        <li>Заполнять онлайн формы автоматически</li>
    </ul>
    <p class = "cont_title">Почему Python так популярен?</p>
    <p class = "cont_p">Python популярен по ряду причин. Вот более глубокий взгляд на то, что делает его настолько
                        универсальным и простым в использовании для кодеров.
    </p>
    <ul>
        <li>Он имеет <b>простой синтаксис</b>, который имитирует естественный язык, поэтому его легче читать и
            понимать.
            Это
            позволяет быстрее строить проекты и быстрее их совершенствовать.
        </li>
        <li>Это <b>универсально</b>. Python может быть использован для многих различных задач, от веб-разработки до
            обучения машин.
        </li>
        <li>Он <b>дружественный для начинающих</b>, делает его популярным для кодеров начального уровня.</li>
        <li>Это <b>открытый исходный текст</b>, что означает, что он свободен в использовании и распространении,
            даже в
            коммерческих целях.
        </li>
        <li>Архив <b>модулей и библиотек</b> Python - пакеты кода, созданные сторонними пользователями для
            расширения
            возможностей Python - обширен и растет.
        </li>
        <li>Python имеет <b>большое и активное сообщество</b>, которое вносит свой вклад в пул модулей и библиотек
            Python и выступает в качестве полезного ресурса для других программистов. Широкое сообщество поддержки
            означает, что если программисты сталкиваются с камнем преткновения, найти решение относительно легко;
            кто-то
            обязательно сталкивался с той же проблемой раньше.
        </li>
    </ul>
</div>

<div class = "footer">
    <p align = "center">Сделано с <span class = "heart">♥</span> от <a href = "https://comp-as.by">Comp-As</a></p>
</div>


</body>
</html>