<!DOCTYPE html>
{% load static %}
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Тесты по Python</title>
    <link rel = "stylesheet" href = "{% static 'css/task.css' %}">
    <link rel = "shortcut icon" href = "{% static 'img/img_python.png' %}" type = "image/png">
    <link rel = "stylesheet" type = "text/css" href = "//fonts.googleapis.com/css?family=Cabin"/>
</head>
<body>

<div class = "header">
    <a href = "https://comp-as.by" class = "logo">Comp-As</a>
    <div class = "header-right">
        <a href = "{% url 'index' %}">Главная</a>
        <a href = "{% url 'theory' %}">Теория</a>
        <a href = "{% url 'task' %}">Задачи</a>
        <a class = "active">Тест</a>
    </div>
</div>

<p class = "line-1">print("<font face = "Arial">Выбери тему</font>!")</p>

<div class = "list">
    {% for u in units %}
    <a href = "{{ u.name }}" class = "alist">
        <div class = "content">
            <h1>{{ u.name }}</h1>
        </div>
    </a>
    {% endfor %}
</div>

</body>
</html>